*{
  margin: 0px;
  padding: 0px;
}
@font-face {
  font-family: Roboto;
  src: url(roboto.ttf) format(TrueType);
}
/*
#045EB7
*/
body{
  font-family: roboto;
}
header{
  margin: 0px;
  padding: 10px;
  background-image: linear-gradient(to bottom,  #045eb7, #fff );
}
.cabeçalho{


}
.logo{
  width: 100px;
  margin: 10px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
header a{
  text-decoration: none;
  color: black;
  margin: 10px;
  text-align: center;
}

header a:hover{
  text-decoration: underline;
  color: #045EB7;
}

header p{
  text-align: center;
  margin
}