*{
  margin: 0px;
  padding: 0px;
}
@font-face {
  font-family: Roboto;
  src: url(roboto.ttf) format(TrueType);
}
@font-face {
  font-family: Bungee;
  src: url(Bungee-Regular.ttf) format(TrueType);
}
/*
#045EB7
*/
body{
  font-family: roboto;
  background-color: rgb(255, 255, 255);
  /*background-image: linear-gradient(138deg, rgba(20,92,164,1) 0%, rgba(1,1,1,1) 58%, rgba(0,0,0,1) 71%, rgba(20,92,164,1); 94%);  background-attachment: fixed;*/

  
}
header{ 
  padding: 0px;
  background-color: #0000004e;
  height: 83px;
  width: 100%;
  margin: 0px auto;
  /*background-image: linear-gradient(to right,  #045eb7b9, #000000be );*/
}
nav{
  display: inline-block;
  margin: 0 auto;
}
.cabeçalho{ /*tag do cabeçalho*/
  width: 1000px;
  margin: 0 auto;
}

.listas-cabeçalho{ /*tag de cada link do cabeçalho*/
  margin-left: 50px;
}
.logo{ /*tag imagem do cabeçaho*/
  width: 40px;
  display: inline-block;
  margin-top: 10px;
}
header a{ /* todo link do cabeçalho*/
  text-decoration: none;
  text-align: center;
  display: inline-block;
  color: #fff;
  margin: 0px 5px;
}

header a:hover{ /*transformação de cada link do cabeçalho*/
  text-decoration: underline;
  color: #000;
}
.img-topo{
  position: fixed;
  top: 94%;
  left: 97%;
}
header p{ /*tag de todo paragrafo do cabeçalho*/
  display: inline-block;
}
.futuro{ /*imagem abaixo do cabeçalho*/
  margin: 0 auto;
  display: block;
  width: 100%;
}

.image-container { /*tag de toda a imagem com o link*/
  position: relative;
}
.link-imagem{
    font-family: Bungee;
    position: absolute;
    top: 550px;
    left: 8%;
    width: 533px;
    display: block;
    text-align: center;
    color: rgb(255, 1, 1);
    text-decoration: none;
    font-size: 35px;
}
.link-imagem:hover{
  text-decoration: underline;
}
.cursos{
  margin-left: 300px;
}
.semana-cursos{ /*container da semana OURO e os três cursos*/
  overflow: hidden;
  margin: 30px 0px 20px 50px;
}
.introducao{ /*div da semana Ouro*/
 box-shadow:  0px 0px 7px 0px #00000073;
  width: 450px;
  height: 630px;
  display: inline-block;
  float: left;
  text-align:left;
  padding: 10px;
  border: 1px solid black;
  border-bottom: solid 3px #3b7cd2;
}
.introducao h1{ /*edição do título do campo OURO*/
  font-size: 50px;
  font-family: 'Baskervville SC';
}
.introducao strong{ /*tag para a palavra E-tech*/
  color: #3b7cd2;
}
.listas{
  font-size: 18px;
  text-align: left;
  margin-top: 12px;
  margin-left: 50px;
}
.sub{ /*sub titulo semana Ouro*/
  font-size: 20px;
}
.lista-ouro{
  margin-top: 12px;
}

.tres{ /* tags referente aos três primeiros cursos*/
  border-bottom: solid 3px #3b7cd2;
  float: left;
  margin-left: 400px;
}
.tres h4{
  font-size: 15px;
  color: #3b7cd2;
  text-align: left;
  padding-left: 10px;
}
.tres h2{
  font-size: 25px;
  text-align: left;
  padding: 5px;
}
.tres{
  display: inline-block;
  height: 300px;
}
.tres p{
  display: inline;
  font-size: 25px;
}
.ads{ /*tag do curso ADS*/
  width: 300px;
  height: 650px;
  display: inline-block;
  box-shadow:  0px 0px 7px 0px #00000073;
  margin-left: 15px;
}
.Segurança{ /*tag do curso de segurança*/
  width: 300px;
  height: 650px;
  display: inline-block;
  box-shadow: 0px 0px 7px 0px #00000073;
  margin-left: 15px;
  text-align: left;
}
.sistemas{ /*tag do curso de sistema*/
  width: 300px;
  height: 650px;
  display: inline-block;
  box-shadow: 0px 0px 7px 0px #00000073;
  margin-left: 15px;
}
.texto-curso{
  padding: 15px;
  margin: 15px 0px 0px 30px;
}
.inscreva{ /*botao de inscreva-se - dentro de cada curso*/
  text-decoration: none;
  color: #000;
  display: block;
  font-size: 35px;
  background-color: #ffffff34;
  text-align: center;
}
.inscreva:hover{
  text-decoration: underline;
  color: red;
}
.descontos{
  background-color: #045EB7;
  color: #fff;
  
}
.descontos h2{
  text-align: center;
  font-size: 30px;
  font-family: bungee;
  padding: 10px;
}
.descontos h4{
  text-align: center;
  font-size: 20px;
  font-family: roboto;
  padding: 10px;
  color:#3b7cd2;
}
#depoimentos-relatorios{
  background-color: #fff;
}
.img-beneficios{
  border-radius: 15%;
  display: block;
  margin-top: 50px;
}
.beneficios-descontos p{
  display: inline-block;
   width: 354px;
   height: 96px;
   text-align: center;
}
.beneficios-descontos{
  display: block;
  overflow: hidden;
  width: 100%;
}
.beneficio1{
  float: left;
  margin-right: 380px;
  margin-left: 180px;
}
.beneficio2{
}
.inscreva1{
  text-decoration: none;
  color: #fff;
  display: block;
  text-align: center;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 40px;
  transition: font size 5s 5s;
}
.inscreva1:hover{
  text-decoration:underline;
  font-size: 50px;
  color: #ff0000;
}
.titulo-depoimentos{
  font-family:'Courier New', Courier, monospace;
  font-size: 50px;
  padding: 8px;
}
.depoimentos-relatorios1 h3{
  text-transform: uppercase;
  margin: 4px;
  font-size: 15px;
}
.diferenca{
  color: #045EB7;
}
.titulo-e-sub-depoimentos{
  text-align: center;
}
.depoimento{
  height: 400px;
  width: 350px;
  border: 1px solid rgba(0, 0, 0, 0.342);
  display: inline-block;
  box-shadow:  1px 3px 10px rgb(0 0 0 / 35%);
  margin: 8px;
  padding: 10px;
  border-bottom: solid 3px #3b7cd2;
  float: left;
}
.container-depoimentos{
  display: block;
  margin-left: 150px;
}
.depoimento p {
  margin-top: 20px;
  padding: 12px;
  text-align: justify;
}
.depoimento{
  margin: 20px 15px;
}
.nome-depoimento{
  color: #3b7cd2;
  text-align: center;
  border-radius: 18px;
}
.empresa-depoimento{
  text-align: center;
}
.startup-depoimento{
  text-decoration: none;
  color: #045EB7;
}
.startup-depoimento:hover{
  text-decoration: underline;
  color: #000;
  text-
}
/*INICIO PARTE JEFFERSON*/
.cabecalhojef{
  background-image: url(imagens-curso/banner.jpg);
	display: block;
	padding: 20px;
	border-bottom: solid 1px #000;
  
}
.cabecalhojef img{
	/*height: 25px;
	width: 25px;*/
}
.containerjef{
  display: inline-block
  background-image: url(imagens-curso/banner.jpg);
}

.titulojef{
	font-size: 35px;
	font-weight: bold;
	padding-top: 30px;
	margin-right: 700px;
  display: block;
}
.formasjef{
	margin-right: 700px;
}
.formasjef  h4{
	font-size: 30px;
	font-weight: bold;
	margin: 0px 0px;
}

.container2jef{
	font-size: 30px;
	color: #fff;
	padding: 10px 200px 80px 350px;
	background-color: #045eb7;
}
.tabela1jef{
	width: 80%;
}
.linhajef{
	background-color: #3b7cd2;
	color: #fff;
}
.tabela1jef h2{
	color: #fff;
	padding: 4px;
	font-size: 45px;
	text-transform: uppercase;
}
td{
	padding:10px;
	border-bottom: solid 2px #fff;
}
.container3jef{
	background-color: #fff;
	padding-bottom: 50px;
	display: inline-block;
	overflow: hidden;
  width: 100%;
  text-align: center;
}
.container3jef img{
	background-color: #000;
	margin-top: 20px;
	padding: 20px 70px ;
	height: 80px;
	width: 80px;
	border-radius: 10px 10px 10px 10px;
}
.contatosjef{
	float: left;
	margin-left: 212px;
}
.falejef{
	font-size: 30px;
	padding-bottom: 20px;
	padding-top: 30px;
}

.container4jef{
	background-color: #045eb7;
	text-align: center;
	margin: 2px auto;
	overflow: hidden;
}
.quemsomosjef{
	padding: 0px 150px;
}
.colunajef{	
	margin: 40px 100px;
	width: 280px;
	padding: 0px 20px 0px 5px;
	float: right;
}
.container4jef h1{
	font-size: 60px;
	color: #fff;
	margin-bottom: 20px;
	padding: 0px 0px 0px 0px;
}
.container4jef h3{
	font-size: 30px;
	color: #fff;
	border-bottom: solid 3px #fff;
}
.container4jef p{
	font-size: 20px;
	font-style: italic;
	color: #000;}

/*FIM PARTE JEFFERSON*/
/* INICIO PARTE GIOVANE */
.banner{ position: relative;
width: 100%;

background: url("imagens/etech.mensagem.jpg") no-repeat center
center;
background-size: cover;
} 
.message{
background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(17, 54,
71));
border-radius: 8px;
padding: 15px;
width: 350px;
text-align: center;
font-size: 15px;
color: whitesmoke;
letter-spacing: 1px;
position: absolute;
top: -309px;
left: 60%;
margin: 0px;
}

/*stilo do formulário*/
.box{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px;
  border-radius: 15px;
  width: 20%;
  margin-top: 100px;
}
.fildset{
  border: 3px solid dodgerblue;
}
.legend{
  border: 1px solid dodgerblue;
  padding: 10px;
  text-align: center;
  background-color: dodgerblue;
  border-radius: 8px;
}
.inputBox{
  position: relative;
}
.inputUser{
  background: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: white;
  font-size: 15px;
  width: 100%;
  letter-spacing: 2px;
}
.labelInput{
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
  transition: .5s;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput {
  top: -20px;
  font-size: 12px;
  color: dodgerblue;
}
.image{
  position: absolute;
  top: 40%;
  left: 45%;
}
.submit{
  color: #000000e8;;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 20px;
  border: none;
  padding: 10px 25px;
  text-align: center;
  border-radius: 8px;
  width: 100%;
}
.body-inscreva{
  background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));

}
.empresas-parceiras-giovane{
  text-align: center;
  font-family: 'Roboto';
}
.img-parceiras{
  width: 11%;
  display: inline-block;
}
footer{
  width: 100%;
  background-color: #3b7cd2;
  color: rgb(6, 53, 95);
  text-align: center;
  font-family: Bungee;
}
/* começa aqui a edução da galeria*/
.img-galeria{
}